* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  background-color: #3f3b40;
  color: #E5DDE7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}

.nav {
  font-size: 30px;
  margin: left 3px;
  font-family: monospace;
  justify-content: space-between;
}

.nav-header {
  font-size: 30px;
  font-weight: bold;
   font-family: monospace;
color: #E5DDE7;
}

.split {
  display: flex;
  height: 100vh; 
}

.left {
  background: #8e7b91;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.text {
  max-width: 500px;
  line-height: 1.6;
}

.right {
  background: #a59ba6; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 180px;
}

body {
  background-color: #a59ba6;
  }

h1 { 
  font-family: monospace;
  color: #3f3b40;
  font-size: 40px;
    }  

p {
    color: #E5DDE7;
    font-family: monospace;
    font-size: 20px;
      }

a {
   font-family: monospace;
  color: #E5DDE7;
  font-size: 30px;
   }

li  {
  color:#a59ba6;
   }






   